# Visual Studio
*.sdf
*.sln
*.v12.suo
*.vcxproj
*.vcxproj.filters

# VS/Debug
Debug
*.exe
*.ilk
*.pdb
*.tlog
*.log
*.obj
*.idb
*.pdb

# Qt
*.pro.user
*.creator
*.creator.user
*.files
*.includes
*.config

